ul.collection, ul.collection li {
  border: 0px;
}

.noBorder {
  border: 0px;
}

td img {
  max-width: 100px;
}

tbody tr td, th {
  border: solid 1px;
  border-color: rgb(177, 174, 177);
}

.bold {
  font-weight: bold;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}
// 
// .example-appear {
//   opacity: 0.01;
// }
//
// .example-appear.example-appear-active {
//   opacity: 1;
//   transition: opacity .5s ease-in;
// }
